@page "/about"

<div class="center-content">
    <MudText Typo="Typo.h2" Class="me-4">Venda Pues</MudText>
    <MudImage Src="images/VendePuesLogo_transparent.png" Class="mb-3"/>
    <p>
        La búsqueda de oportunidades y la imperiosa necesidad de satisfacer las necesidades de las personas, impulsan a muchos a explorar el “rebusque”, un término local que describe el ingenio para generar ingresos. Esta realidad empuja a una infinidad de individuos a plantearse cuestiones críticas: ¿Qué negocio emprender? ¿Qué producto o servicio ofrecer? ¿Cómo ganarse la vida?, de esta interrogante nace una diversidad de ideas de negocio, tan valiosas como innovadoras.
    </p>
    <p>
        Estos emprendedores enfrentan muchas preguntas importantes, incluido qué tipo de negocio iniciar, qué productos y servicios ofrecer y cómo ganarse la vida. Comienzan su viaje empresarial con entusiasmo, pero rápidamente enfrentan grandes desafíos. Esto incluye la necesidad de desarrollar estrategias efectivas para ofrecer productos a audiencias objetivo, proporcionar mecanismos convenientes para que los clientes realicen pedidos, garantizar opciones de pago seguras y un inventario eficiente, lo que conlleva también a la necesidad de implementar y establecer métodos de gestión y estrategias de precios competitivas que permita márgenes de beneficio razonables incluso con costos fluctuantes.
    </p>
    <p>
        Los integrantes de este proyecto encuentran este problema: "Los comerciantes de pequeña escala carecen de un sistema comercial accesible que facilite la venta de sus productos o servicios de manera sencilla y segura, con integración de pagos electrónicos y una gestión efectiva del inventario". Actualmente los comerciantes emprendedores tienen a la mano aplicaciones como WhatsApp o el market place de Facebook, sin embargo, estas aplicaciones no cuentan un catálogo de productos ni con un sistema para poder promocionar sus productos, agregarlos a un carro de compras, o luego dar diferentes opciones de pago y a su vez, una administración de inventario que les permita conocer las márgenes de utilidad, basado en los costos promedios.
    </p>
    <p>
        En el contexto actual, donde el comercio electrónico juega un papel fundamental en la economía global, las empresas buscan constantemente mejorar la eficiencia y efectividad de sus plataformas en línea para ofrecer una experiencia de usuario sobresaliente, asegurar transacciones seguras y mantener un control riguroso sobre su inventario y rentabilidad, por eso la integración de pasarelas de pago como PSE ha demostrado ser un elemento clave para garantizar que los clientes disfruten de una experiencia de compra segura y fluida.
    </p>
    <MudText Typo="Typo.h3" Class="my-3">Autores</MudText>
    <div class="cards-container">
        <MudCard Class="card">
            <MudImage Src="images/Brandon.jpg" Width="250" Height="250" />
            <MudText Typo="Typo.h5" Class="centered-text p-2">Brandon Cadavid</MudText>
        </MudCard>
        <MudCard Class="card">
            <MudImage Src="images/Junior.jpg" Width="250" Height="250" />
            <MudText Typo="Typo.h5" Class="centered-text p-2">Junior Diaz</MudText>
        </MudCard>
        <MudCard Class="card">
            <MudImage Src="images/Oliva.jpg" Width="250" Height="250" />
            <MudText Typo="Typo.h5" Class="centered-text p-2">Juan Oliva</MudText>
        </MudCard>
        <MudCard Class="card">
            <MudImage Src="images/Zulu.jpg" Width="250" Height="250" />
            <MudText Typo="Typo.h5" Class="centered-text p-2">Juan Zuluaga</MudText>
        </MudCard>
    </div>
</div>

